html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 0px;
}

/* Write your solution here */
/*234  406px to 1090px */

@media only screen and 